<ion-header>
  <ion-navbar>
      <button slot="start" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons end>
        <button  (click)="addTodo()" ion-button icon-only>
          <ion-icon name="md-add"></ion-icon>
        </button>
        <!-- <button  (click)="buttonRefresh()" ion-button icon-only>
          <ion-icon name="refresh"></ion-icon>
        </button> -->
      </ion-buttons>
    <ion-title>Todos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list *ngIf="!noData">
    <ion-item-sliding *ngFor="let item of items" >
        <button ion-item (click)="getTodosId(item.id)">
          {{item.title}}
        </button>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="editTodosId(item.id, item.title, item.description)" only-icon>
            <ion-icon name="md-create"></ion-icon>

          </button>
          <button ion-button color="danger" (click)="deleteTodosId(item.id)" only-icon>
            <ion-icon name="md-trash"></ion-icon>

          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="noData" color="danger" no-lines>
    No todos
  </ion-item>
</ion-content>
